.custom-color {
  background: radial-gradient(50% 50% at 50% 50%, #aa0e0e 0%, #aa0e0e 100%);
}

.custom-text-color {
  background: radial-gradient(50% 50% at 50% 50%, #aa0e0e 0%, #d61111 100%);
}

.custom-Background {
  background: linear-gradient(90deg, #aa0e0e 0%, #d61111 100%,  #3E2C23 30.17%);
}
.custom-Sidebar {
  background: linear-gradient(180deg, #d61111 0%, #aa0e0e 30.17%, #100F0F 100%);
}
.custom-Delete {
  background: linear-gradient(90deg, #aa0e0e 0%, #aa0e0e 20.17%, #d61111 100%);
}
.custom-AddButton {
  background: linear-gradient(90deg, #aa0e0e 0%, #aa0e0e 40.17%, #d61111 100%);
}
.custom-SwitchButton {
  background: linear-gradient(90deg, #008000 0%, #008000 20.17%, #000001 100%);
}
/* .custom-Navbar {
  background: linear-gradient(90deg, #014376 0%, #014376 50.17%, #31918D 100%);
} */
.custom-Navbar {
  background: linear-gradient(90deg, #d61111 0%, #aa0e0e 50.17%, #100F0F 100%);
}
.custom-Update {
  background: linear-gradient(180deg, #aa0e0e 0%, #aa0e0e 60.17%, #d61111 100%);
}
.custom-
 {
  background: linear-gradient(180deg, #aa0e0e 0%, #aa0e0e 60.17%, #d61111 100%);
}
